
<section class="backimgg" style="background-color: #F6F2E7;">
  <img src="./../../../assets/img/5.png" class="img-fluid" alt="">
  <div class="contenue-profile">
    <div class="profil">
      <div class="profil1">
        <img class="img-fluid" src="./../../../assets/img/7.png"  alt="">
      </div>
      <div class="profil2">
        <img class="img-fluid" src="./../../../assets/img/8.png"  alt="">
      </div>
      <div class="profil3">
        <img class="img-fluid" src="./../../../assets/img/6.png"  alt="">
      </div>
    </div>
    <div class="titre" >
      <h2 style="color: #42263D;">Your Ad Acount Managers</h2>
      <p class="para">We're helping marketers of all sizes to be successful</p>
      <button type="button" style="margin:0%;" class="btn btn-f btn-rounded">
        <span class="textBi">Get Started</span>
      </button>
    </div>
    <div class="imgSection2" >
      <img class="multiimg img-fluid" src="./../../../assets/img/9.png" alt="">
    </div>

  </div>
    </section>
    <section class="main" style="background-color: #F6F2E7;">
        <div class="container ">
            <div class="row justify-content-evenly align-items-center mb-1 pb ">
            <div class="row justify-content-evenly align-items-center mb-1 pb mt-5">
              <div class="col-md-12 order-last order-sm-first pt box1">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="my-auto">We will send you full trial details</label>
                      <input class="form-control" type="text" placeholder="Your name">
                    </div>
                  </div>
                  <div class="col-md-6 mx-2">
                    <div class="form-group">
                      <input class="form-control mr-2 mx-2" type="text" placeholder="Your phone">
                      <button type="button" class="btn btn-f btn-rounded mt-3">
                        <span class="textB">Try For Free</span></button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
                <div class="row custom-box mt-5">
                  <!-- <div class="row"> -->
                    <div class="col-md-6" >
                        <div class="footer-content ">
                            <span class="me-2 bg text-center">
                                <a class="logo-text" style="text-decoration: none;color: white;">Logo</a>
                            </span>
                        </div>
                          <div class="footer-txt mt-3 ms-2">
                            <p class="textP" style="color: rgb(0, 0, 0);">No matter the size of your business or where you are,
                                you will be able to lunch campaigns everywhere
                                across all channles for free!
                            </p>
                          </div>
                          <div class="footer-contact">
                            <div class="rounded-social-buttons ">
                                <a class="social-button youtube" href="https://www.youtube.com/" target="_blank"><i  class="bi bi-youtube "></i></a>
                                <a class="social-button facebook" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
                                <a class="social-button twitter" href="https://www.twitter.com/" target="_blank"><i  class="bi bi-twitter"></i></a>
                                <a class="social-button instagram" href="https://www.instagram.com/" target="_blank"><i  class="bi bi-instagram"></i></a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-2 Popular">
                      <h4 class="text">Popular</h4>
                      <ul>
                        <li><a href="">facebook</a></li>
                        <li><a href="">Google Ads</a></li>
                        <li><a href="">Snapchat</a></li>
                        <li><a href="">TikTok</a></li>
                        <li><a href="">Twiter</a></li>
                      </ul>
                    </div>

                    <div class="col-md-4  yellow" >
                      <h4 class="text">Useful links</h4>
                      <div class="d-flex">
                        <div class="one">
                            <ul>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">FaQs</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Get Started</a></li>
                              </ul>
                        </div>
                        <div class="two" style="margin-left: 50px;">
                            <ul>
                                <li><a href="#">Terms and Conditions</a></li>
                                <li><a href="#">Cookiez Policy</a></li>
                                <li><a href="#">Personal Data</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Legal Notice</a></li>
                              </ul>
                        </div>
                      </div>
                    </div>
                </div>
                  <div class="last-footer ">
                    <div class="row">
                        <div class="col-md-4">
                            <p>&copy;2023, All rights reserved</p>
                        </div>
                        <div class="col-md-8 d-flex justify-content-end">
                            <img src="../../../assets/img/15.png" class="imgStyle mx-2" alt="">
                            <img src="../../../assets/img/21.png" class="imgStyle" alt="">
                            <img src="../../../assets/img/13.png" class="imgStyle" alt="">
                            <img src="../../../assets/img/22.png" class="imgStyle" alt="">
                            <img src="../../../assets/img/20.png" class="imgStyle" alt="">
                            <img src="../../../assets/img/11.png" class="imgStyle" alt="">
                            <img src="../../../assets/img/12.png" class="imgStyle" alt="">
                        </div>
                    </div>
                  </div>
                  <!-- <div class="input-group">
                    <input type="text" class="form-control" placeholder=" " aria-label="Search...">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="bi bi-search"></i>
                      </span>
                    </div>
                  </div>              -->
            </div>
    </section>
