<section class="triangle-background" style="background-color: #FFFFFF;">
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <!-- Your content here (e.g., navbar) -->
      <nav class="navbar navbar-expand-lg animated-navbar">
        <div class="container-fluid">
          <span class="me-2 bg text-center">
            <span class="logo-text">Logo</span>
          </span>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <!-- <button class="btn btn-primary me-2" type="button">Request a Demo</button> -->
                <!-- <button type="button" class="btn btn-warning btn-rounded">Request a Demo</button> -->
                <!-- <button type="button" class="btn btn-w btn-rounded btn-animated">
                  <span class="text"> Request a Demo <i class="bi bi-arrow-right-short"></i> </span>
                </button> -->
                <button
  type="button"
  class="btn btn-w btn-rounded"
  [class.btn-click-animation]="animateButton"
  (click)="animateButtonClick()"
>
  <span class="text"> Request a Demo <i class="bi bi-arrow-right-short"></i> </span>
</button>
              </li>
            </ul>
            <div class="d-flex">

              <button class="btn btn-w btn-rounded me-2 btn-animated" type="button">

                <span class="text">Login</span></button>
              <button type="button" class="btn btn-f btn-rounded btn-animated">
                <span class="text">Get Started</span></button>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="custom-box mt-5 d-flex align-items-center">
        <div class="me-auto">
          <!-- Your text here -->
          <p class="text-white ">Promote your business </p>
          <h1 class="text-b">everywhere</h1>
          <button type="button" class="btn btn-t btn-rounded">
            <span class="text">Get Started</span></button>
            <a class="mx-4 text-underline" href="https://www.google.com/">How it Works</a>
            <div class="d-flex mt-5">
              <p class="t"> <i class="bi bi-check-lg mx-2"></i>All channels</p>
              <p class="t"> <i class="bi bi-check-lg mx-2"></i>Local currency</p>
              <p class="t"> <i class="bi bi-check-lg mx-2"></i>Unlimited Ad Spend</p>
            </div>
        </div>
        <div>
          <!-- Your image here -->
          <img class="img-2" src="./../../assets/img/3.png" alt="Your Image" height="100">
          <img class="img-1" src="./../../assets/img/1.png" alt="Your Image" height="100">
          <img class="img" src="./../../assets/img/2.png" alt="Your Image" height="100">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="custom-box-2 mt-5 d-flex">
        <div class="bg-image">
          <!-- Your background image here -->
          <img src="./../../assets/img/23.jpg" height="400" alt="Background Image">
        </div>
        <div class="me-auto">
          <!-- Your text here -->
         <div class="box-2">
          <h1 class="box-2-text">Largest media partners,</h1>
          <h1 class="box-2-text">for a large volume.</h1>
         </div>

         <div class="box-3 mb-5">
          <p class="box-3-text">AdClick provides a single platform for advertisers</p>
          <p class="box-3-text">to easily launch campaigns from any place</p>
          <p class="box-3-text">of the world across all channels.</p>
         </div>
          <button type="button" class="btn btn-f btn-rounded mt-3">
            <span class="text">Try For Free</span></button>
        </div>
      </div>
    </div>
  </div>

</div>
</section>

<section  style="background-color: #F6F2E7;padding-bottom: 10%;">
  <div class="container">
    <div class="row" style="padding-top: 55px;">
      <div class="col-md-6">
        <div class="d-flex mt-5">
          <div class="me-auto">
            <!-- Your text here -->
            <div class="box-5">
              <h1 class="box-5-text">How it works</h1>
            </div>

            <div class="box-4 mb-5">
              <p class="box-4-text">Handling marketing on the biggest media platforms is not</p>
              <p class="box-4-text">an easy task, especially for E-commerce brand owners,</p>
              <p class="box-4-text">startups, and agencies in emerging countries.</p>
            </div>

            <button type="button" class="btn btn-g btn-rounded me-5  mb-5">
              <span class="text">Get started</span>
            </button>


            <div class="custom-box-5">
              <div>
                <img class="img-3" src="./../../assets/img/4.png" alt="Your Image" height="100">
              </div>
              <div class="d-flex mb-3">
                <p class="text-box-5">Without</p>
                <span class="me-2 bg text-center">
                  <span class="logo-text-box">Logo</span>
                </span>
              </div>

              <div class="box-5 mb-4">
                <p><i class="bi bi-x-circle mx-2"></i>New updates every day.</p>
                <p><i class="bi bi-calendar-x mx-2"></i>Limited access for some countries.</p>
                <p><i class="fa fa-credit-card mx-2" aria-hidden="true"></i>Limited payment methods and currencies.</p>
                <p><i class="fa fa-thumbs-o-down mx-2" aria-hidden="true"></i>Lack of support and coummunication.</p>
              </div>
              <div class="mb-5">
                <a class="mx-4 text-danger text-underline" href="">Not anymore with AdClick!</a>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="col-md-6">
        <!-- <img src="./../../assets/img/23.jpg" height="400" alt="Background Image"> -->

        <div class="custom-box-4">
          <span class=" tz">
            <i class="fa fa-credit-card mx-2" aria-hidden="true"></i>
          </span>
          <div class="box-6">
            <p class="text-box-6">Payment</p>
            <p class="box-6-text">Pay your advertising on your preferred channel in your local currency</p>
            <p class="box-6-text">with your preferred payment method 'Cash, Check, Wire etc...'</p>
            <p class="box-6-text">no matter where you are.</p>
          </div>
        </div>
        <div class="custom-box-4">
          <span class=" tz">
            <i class="fa fa-clone mx-2" aria-hidden="true"></i>
          </span>
          <p class="text-box-6">Channels</p>
          <p class="box-6-text">Get access to all our media partner platforms or run your campaigns  </p>
          <p class="box-6-text">from one single platform AdClick,promote your business everywhere </p>
          <p class="box-6-text">without the headache of learning a whole new platform.</p>
        </div>
        <div class="custom-box-4">
          <span class=" tz">
            <i class="fa fa-thumbs-o-up mx-2" aria-hidden="true"></i>
          </span>
          <p class="text-box-6">Support</p>
          <p class="box-6-text">Our dedicated account manager will guide and help you with all your</p>

             <p class="box-6-text">advertising issues and help you earn more with online advertising,</p>
             <p class="box-6-text">no matter the size of your business.</p>
        </div>
      </div>
    </div>
  </div>

</section>
<section style="background-color: #FFFFFF;">
  <div class="container">
  <div class="row">
    <div class="col">
      <div class="box-7">
<a href="https://www.facebook.com/">
        <img class="img-box-7" src="./../../assets/img/18.jpg"
         alt="Your Image" ></a>
        <img class="img-box-7" src="./../../assets/img/19.jpg" alt="Your Image">
        <img class="img-box-7" src="./../../assets/img/16.jpg" alt="Your Image">
        <img class="img-box-7" src="./../../assets/img/14.jpg" alt="Your Image">
        <img class="img-box-7" src="./../../assets/img/17.jpg" alt="Your Image">
      </div>
    </div>
  </div>
</div>
</section>
<section  style="background-color: #FFFFFF;height: 100%;width: 100%;" >
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="box-8 mb-4">

        <img class="box-8-img" src="./../../assets/img/10.png" alt="Your Image" height="100">

      </div>
      <div class="box-9 text-center">
        <h1 class="text-2-box-9">The easiet way to launch online campaigns</h1>
        <p class="mb-0 text-box-9">A dedicatd platform helping you to achieve your marketing goals and maximise your ROAS </p>
        <p class="text-box-9">from your campaigns a cross all channels!</p>
        <button type="button" class="btn btn-box-9 btn-rounded mb-5">
          <span class="text">Create Campaign</span>
        </button>
      </div>

    </div>

  </div>
  <div class="custom-box-13 mt-5 d-flex">
    <div>
        <div class="d-flex">
            <h3 class="mt-2 box-text-13">Stability + Growth = </h3>
            <span class="me-2 bg text-center">
                <span class="logo-text-box">Logo</span>
            </span>
        </div>
        <p class="mb-1 box-13-text">Our goal at AdClick is to change the advertising world and make it stable,</p>
        <p class="box-13-text"> easy and accessible for all types and sizes of businesses.</p>

        <button type="button" class="btn btn-f btn-rounded mt-3">
            <span class="text">Try For Free</span>
        </button>
    </div>
    <div class="bg-image-box-13">
        <img src="./../../assets/img/24.png" height="400" alt="Background Image">
    </div>
</div>

  <div class="custom-box-10 mt-5 d-flex">
    <div class="bg-image-box-10">
      <img src="./../../assets/img/25.png" height="400" alt="Background Image">
    </div>
    <div>
      <div class="d-flex">
        <h3 class="mt-2 box-text-12">Drive growth at your business with</h3>
        <span class="me-2 bg text-center">
          <span class="logo-text-box">Logo</span>
        </span>
      </div>
      <p class="mb-1 box-12-text">Run your display campaign, social media campaign from one place, without
      </p>
      <p class="box-12-text">losing your time, or closing isuss!</p>

      <button type="button" class="btn btn-f btn-rounded mt-3">
        <span class="text">Try For Free</span>
      </button>
    </div>

  </div>

</div>
</section>


